<p>
  <b>Nome:</b>
  <%=h @genero.nome %>
</p>

<p>
  <b>Subfamilia:</b>
  <%=h @genero.subfamilia_id %>
</p>


<%= link_to 'Editar', edit_genero_path(@genero) %> |
<%= link_to 'Voltar', generos_path %>
