<div id="title">
  <h1>Listando espécies</h1>
</div>
<div id="content">
<% if @especies.size.zero? %>
  <br />
  <p> Nenhuma espécie cadastrada.</p>
<% else %>
<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @especies.each do |especie| %>
  <tr>
    <td><%=h especie.nome %></td>
    <td><%= link_to 'Ver', :controller => 'verespecie', :action => 'show', :id => especie.id %></td>
  </tr>
<% end %>
</table>
<%end%>
<br />
  <p><%= link_to 'Voltar', '/buscar' %></p>
</div>