<div id="title">
  <h1>Sobre</h1>
</div>
<p>
Este site foi desenvolvido como Projeto de Graduação do aluno Henrique Lemos Ribeiro.<br />
Abaixo estão o resumo e o link para a monografia do projeto. <br />
<br />
<div class="centro-justificado">
  As planárias terrestres, muito diversificadas no Brasil, são desconhecidas para muitas pessoas e cientistas. As mais de 160 espécies brasileiras descritas sequer têm nome popular. Para identificação de planárias terrestres ao nível de espécie, são analisados caracteres da morfologia externa e interna. Sendo assim, é trabalhoso o processo de identificação de uma espécie, mesmo tendo em mãos as características morfológicas da espécie e as descrições das espécies já catalogadas. Este projeto propõe a construção de um sistema de informação que será capaz de armazenar e recuperar dados sobre as espécies de planárias, de forma que a adição de novas características morfológicas e espécies possam ser feita rapidamente pelos pesquisadores e a busca por espécies cadastradas seja facilmente feita pelo público em geral.  <br />
  <br />
  Palavras chaves: Planárias terrestres, Online Key Taxonomy, Sistema de Informação.  <br />
  <br />
</div>
<%= link_to 'Clique para baixar', 'http://google.com', :target => '_blank' %>

</p>