<h1>Espécie <%= @especie.nome %> </h1>

<b>Características:</b>

<% form_for @especie , {:controller => "especie_alternativas", :action => "updateCaracteristicas"} do |f| %>

  <% @caracteristicas.each do |caracteristica| %>
  <p>
      <%=h caracteristica.nome %><br/>
      <%= collection_select(:alternativa_id, :id, caracteristica.alternativa.all , :id, :nome,  :prompt => "Sem dados" ) %>
  </p>
  <% end %>
  
  <br/>
  <%= f.submit "Atualizar" %>

<% end %>